button {
    border-radius: 0px;
    border: 1px solid gray;
    margin: 1px;
}


.cafeComment {
    padding: 10px;
    background-color: rgb(245, 235, 235);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}


.cafeComment > div:nth-child(1) {
    font-size: 16px;
    letter-spacing: 0.3mm;
    width: 50%;
    padding: 4px;
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cafeComment > div:nth-child(2) {
    margin-bottom: 5px;
    padding-left: 5px;
}


.cafeCommentVoter {
    text-align: center;
}

.cafeCommentVoter label {
    font-size: 12px;
    width: 32px;
    padding-left: 2px;
    padding-right: 2px;
}

.cafeCommentVoter button {
    width: 20px;
    margin: 0px auto;
}

.cafeCommentVoter span {
    width: 20px;
    font-size: 10px;
    text-align: center;
    margin: 0px auto;
}

.cafeCommentVoter button:nth-of-type(1) {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 14px;
    color: blue
}
.cafeCommentVoter button:nth-of-type(2) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 14px;
    color: red
}

.cafeModReport {
    background-color: cornsilk;
    padding: 20px;
}
